/* body.char-review {
    background-image: url("https://images.ctfassets.net/swt2dsco9mfe/5iAIB7LrBFLnuXosoySjDV/9e18fe81c628b543600cb3bdbb14340b/SCAG_1280x960_Wallpaper.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    } */

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border-color: white;
    border-width: 1px 1px 1px;
    border-radius: 5px;
    background-color: #a0c451;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1rem;
    outline: 0;
    cursor: pointer;
  }