.char { height: 100%; 
color: white;
background-color: black;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.list-header{
    color: white;
    background-color: rgb(116, 173, 36);
}